<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const PENDING = "PENDING"
        const FUFILLED = "FUFILLED"
        const REJECTED = "REJECTED"


        class MyPromise{
            constructor(){
                // promise的状态
                this.state = PENDING
                // 成功的值
                this.value = undefined
                // 失败的值
                this.reason = undefined
            }
        }
    </script>
</body>
</html>