<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            width: 80%;
            height: 600px;
        }
    </style>
</head>
<body>
    <h1>我是demo1</h1>
    <iframe src="http://127.0.0.1:5500/ifram%E6%96%B9%E6%A1%88/demo2.html" frameborder="0"></iframe>
    <iframe src="https://qiankun.umijs.org/zh/" frameborder="0" class="box"></iframe>
</body>
</html>